*:focus {
  outline: none;
}

.App {
  text-align: center;
}

.App-content {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: monospace;
}

.upload-form {
  color: #F1E9DB;
  background-color: #A39B8B;
  padding: 60px 20px 20px 20px;
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 3px;
  position: relative;
}

.upload-form__label {
 margin-bottom: 2px;
}

.upload-form__input {
  margin-bottom: 10px;
  font-family: inherit;
}

.upload-form__text-input {
  width: 100%;
}

.upload-form__select-input {
  width: 100%;
  padding: 4px;
  border-radius: 3px;
}

.upload-form__submit-button {
  font-size: 2rem;
  padding: 1rem;
  border-radius: 10px;
  border: none;
  margin-top: 10px;
  background-color: #5DB7DE;
  color: #F1E9DB;
  font-weight: bold;
  font-family: inherit;
}

.upload-form__submit-button:active {
  transform: translateY(1px);
  filter: saturate(150%);
}

.upload-form__message {
  font-size: 1rem;
  position: absolute;
  left: 20px;
  top: 20px;
  border: 1px solid #282c34;
  width: 90%;
  border-radius: 3px;
  padding: 5px;
  background-color: #A39C76;
  transition: opacity 0.5s ease;
}

.upload-form__loader--running {
  animation: loader 1s ease 0s infinite;
}

.upload-form__loader--paused {
  animation: none;
}

.hide {
  opacity: 0;
}

.show {
  opacity: 1;
}

@keyframes loader {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;

  }
  100% {
    opacity: 0;
  }
}